*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body{
  /* background: #e1e1e1; */
  background-image:url("../img/fondowall.jpg");
}

/* .image-container{
  position: relative;
  z-index: -1;
  top: 0px;
} */

/* .image-container .image{
  max-width: 100%;
  max-height: 100vh;
} */

main{
  width: 100%;
  height: auto;
  position: relative;
  padding: 10px 20px;
  text-align: justify;
  font-size: 18px;
  bottom: auto;
}


.container-video{
  padding: 10px;
  width: 35%;
  position: relative;
  height: auto;
  left: 65%;
  background-color: rgb(0, 0, 0);
}
 .titulo-video{
  position: relative;
  padding: 5px;
  color: white;
  text-align: center;
}

.iframe{
  padding-top: 10px;
  width: 99%;
  height: 390px
}

.menucrud{
  position: absolute;
  top: 5px;
  width: 60%;
  color: white;
  background: rgba(0,0,0,0.9);
}
.vis{
  position: relative;
  width: 50%;
  height: 33.33%;
  text-decoration: none;
  padding: 16px 20px;
  text-align: center;


}
main .menucrud p{
  padding: 10px 0;;
}
main .menucrud .btn{
  border: 5px solid rgb(139, 52, 52);
  color: #2196f3;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow:hidden;
  text-transform: uppercase;
}
main .menucrud .btn:hover{
  color: white;
  background: #2196f3;
  box-shadow:  0 0 10px #2196f3, 0 0 40px # 2196f3, 0 0 80px #2196f3;

}

.sec2{
  position: absolute;
  right: 0;
  top: 0;
}
.sec4{
  position: absolute;
  right: 0;

}
